@page
@model WeatherService.Pages.WeatherModel
@{
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<p>Database capacity ( in days ): @Model.DbDaysNumber</p>



<div>
    @*<input type="hidden" name="handler" value="weatherOptions"/>*@
    <label>Data type: </label>
    <br />
    <select asp-for="Options.DataType" id="dataTypes" asp-items="@Model.DataTypeList" onchange="checkSelectedDataType(this)">
        <option>Choose data type</option>
    </select>

    <br>
    <br>

    <label for="dataSrc" id="dataSrcLabel">Data source: </label>
    <select asp-for="Options.DataSrc" id="dataSrcSelect" asp-items="@Model.WthSrvList">
        <option value=@null>Choose data source</option>
    </select>


    <label for="citySelect" id="citySelectLabel">City: </label>
    <select asp-for="Options.City" id="citySelect" asp-items="@Model.CityList">
        <option value=@null>Choose city</option>
    </select>

    <br />

    <label for="daysNumberInput">Number of days: </label><a id="dayNumberText"> 1</a>
    <br />
    <input class="custom-range" id="daysNumberInput" asp-for="Options.DaysNumber" type="range" min="1" max="30" step="1" value="1" onchange="updateDayNumberText(this.value);" />

    <br />
    <br />

    <button id="submitBtn" asp-page-handler="WeatherOptions">Submit</button>
</div>

<hr />

<table id="weatherCurrAvgTable" class="table">
</table>

<table id="weatherCityTable">
    <thead>
    </thead>
    <tbody>
        
    </tbody>
</table>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/weather.js"></script>